Options -Indexes

ServerSignature Off

RewriteEngine On

RewriteCond %{REQUEST_URI} (.*)/$
RewriteCond %{REQUEST_URI} !(.*)/\!$
RewriteRule ^(.+)/$ http://%{HTTP_HOST}/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

RewriteCond %{REQUEST_URI} !(.*)/\!$
RewriteCond $1 !^(images|system|themes|favicon\.ico|robots\.txt) [NC]
RewriteRule ^(.*)$ index.php [NC,L]